html, body, .te-wrap {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Noto Sans KR';
}
.te-blind {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
}
.te-wrap {
    position: relative;
    height: 100%;
    font-size: 14px;
}
.te-wrap a {
    cursor: pointer;
}
.te-area-header {
    position: relative;
    height: 60px;
    background: #fbfbfb;
    border-bottom: 1px solid rgba(0,0,0,.2);
    box-sizing: border-box;
}
.te-logo-editaling {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 243px;
    height: 39px;
    background-image: url(../images/logo_editaling.png);
    background-size: 100% auto;
    margin: 0;
    line-height: 1;
}
.te-area-editor {
    padding-right: 300px;
}
.te-area-sidebar {
    position: absolute;
    z-index: 2;
    top: 60px;
    right: 0;
    bottom: 0;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    background: #fbfbfb;
    border-left: 1px solid #e5e5e5;
    box-shadow: -3px -1px 4px 0 rgba(0,0,0,.06);
}
.te-button-template {
    display: block;
    margin-top: 10px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.08);
}
.te-button-publish {
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 38px;
    line-height: 38px;
    background: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.08);
    text-align: center;
}
.te-area-menu-editor {
    position: relative;
    padding: 10px;
    background: #fbfbfb;
    border-bottom: 1px solid #e5e5e5;
    font-size: 0;
}
.te-menu-editor {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.te-menu-editor ~ .te-menu-editor {
    margin-left: 6px;
}
.te-button-template:hover,
.te-button-publish:hover,
.te-menu-editor:hover {
    border-color: #9c9c80;
}
.te-button-editor,
.te-button-editor.tx-arrow {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background: #fff;
    font-size: 13px;
    text-decoration: none;
    color: #111;
}
.te-button-editor.tx-arrow {
    float: none;
    width: auto;
    text-indent: 0;
    overflow: visible;
}
.te-wrap .tx-canvas {
    border: 0;
}
.te-wrap .tx-menu {
    top: 37px;
}
.te-wrap .tx-fontfamily-menu,
.te-wrap .tx-fontsize-menu,
.te-wrap .tx-lineheight-menu {
    width: auto;
}
.te-wrap .tx-menu {
    border-color: #9c9c80;
}
.te-wrap .tx-menu-list-item {
    font-family: 'Noto Sans KR';
    font-size: 14px;
}
.te-wrap .tx-menu-list-item a:hover {
    background: #ffdde0;
}